﻿@model Mossad.RecruitmentPortal.Web.Models.CandidateModel

@{
    ViewBag.Title = "Filtered Candidates";
}



@using (Html.BeginForm("CandidateSelection", "Home", FormMethod.Post))
{
    @Html.HiddenFor(m => m.CandidateId, new { @value = Model.CandidateId })
    @Html.HiddenFor(m => m.Email, new { @value = Model.Email })
    @Html.HiddenFor(m => m.SkillsToSave, new { @value = Model.SkillsToSave })
    @Html.HiddenFor(m => m.ProfilePicture, new { @value = Model.ProfilePicture })
    @Html.HiddenFor(m => m.FullName, new { @value = Model.FullName })
    @Html.HiddenFor(m => m.SelectedYearOfExperience, new { @value = Model.SelectedYearOfExperience })
    @Html.HiddenFor(m => m.SelectedTechnology, new { @value = Model.SelectedTechnology })
    <div id="candidateProfile">
        <div class="container mt-5">
            <div class="row d-flex justify-content-center">
                <div class="col-md-7">
                    <div class="card p-3 py-4">
                        <div class="text-center">
                            <img id="imgProfile" src="@Model.ProfilePicture" width="100" class="rounded-circle">
                        </div>
                        <div class="text-center mt-3">
                            <span class="bg-secondary p-1 px-4 rounded text-white">@Model.FullName</span>
                            <br />
                            <br />
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <th>Email</th>
                                        <td>@Model.Email</td>
                                    </tr>
                                    <tr>
                                        <th>Gender</th>
                                        <td>@Model.DisplayGender</td>
                                    </tr>
                                    <tr>
                                        <th>Skills</th>
                                        <td>@Model.Skills</td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="buttons">
                                <button name="approvalStatus" class="btn btn-primary px-4 ms-3" value="selected">Select</button>
                                <button name="approvalStatus" class="btn btn-outline-primary px-4" value="rejected">Reject</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
