﻿@model Mossad.RecruitmentPortal.Web.ViewModels.HomeViewModel

@{
    ViewBag.Title = "Home Page";
}

@using (Html.BeginForm("SearchCandidates", "Home", FormMethod.Post))
{
    <div class="form-group">
        <label for="technologies">Technologies</label>
        @Html.DropDownList("SelectedTechnology", Model.Technologies, new { @class = "form-select" })
    </div>
    <br />
    <div class="form-group">
        <label for="experiences">Experiences</label>
        @Html.DropDownList("SelectedYearOfExperience", Model.Experiences, new { @class = "form-select" })
    </div>
    <br />
    <button id="btnSearch" type="submit" class="btn btn-primary">Search</button>
}