﻿@model Mossad.RecruitmentPortal.Web.ViewModels.FilteretedCandidatesViewModel

@{
    ViewBag.Title = "Shortlisted Candidates";
}


<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Full Name</th>
            <th scope="col">Email</th>
            <th scope="col">Skills</th>
            <th scope="col">Status</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var item in Model.ShortlistedCandidates)
            {
                <tr>
                    <th scope="row">@item.FullName</th>
                    <td>@item.Email</td>
                    <td>@item.SkillsToSave</td>
                    <td>@item.CandidateApprovalStatus</td>
                </tr>
            }
        }
    </tbody>
</table>